<div class="row valign-wrapper banner-home">
  <app-parallax-container></app-parallax-container>
  <div class="valign">
    <div class="container center">
      <div class="img-profile">
        <span><img src="../../assets/img/cv-wallpaper.jpg" alt="Desarrollador Web - Armando Rubio"></span>
      </div>
      <h1>Bienvenido a mi Portafolio de Servicios</h1>
      <h2>Soy Armando Rubio, <span class="carru-txt"> <b>Desarrollador web</b> <b> Diseñador UX </b> <b> Diseñador web </b> </span></h2>
      <sub class="flow-text">Ing de Software y Multimedia</sub>
    </div>
  </div>
</div>