<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a class="black-text" href="">Home</a></li>
  <li><a class="black-text" href="">Quien soy</a></li>
  <li><a class="black-text" href="">Portafolio</a></li>
  <li><a class="black-text" href="">Contáctar</a></li>
  <li>
    <div class="switch">
      <label>
        <span style="float:left">
          <i class="material-icons">
            brightness_6
          </i>
        </span>
        <input type="checkbox">
        <span style="float:left;margin:32.5px 10px 0" class="lever"></span>
        <span style="float:left">
          <i class="material-icons">
            brightness_5
          </i>
        </span>
      </label>
    </div>
  </li>
</ul>