<div class="animated fadeInUp row">
  <div class="container">
    
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="../../assets/img/q-vision.png" alt="q-vision - armando rubio" class="circle">
        <span class="title">Q-vision S.A</span>
        <p>
          Actualmente me encuentro trabajando en esta gran compañia de servicios QA y automatización,
          ubicado en el area de I+D (Investigación y desarrollo), mi rol es el diseño y desarrollo front
          de aplicaciones web y moviles.
          <br/>          
        </p>
      </li>
    </ul>

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="../../assets/img/html5.png" alt="html5 - armando rubio"></a>
        <a class="carousel-item" href="#two!"><img src="../../assets/img/css3.png" alt="css3 - armando rubio"></a>
        <a class="carousel-item" href="#three!"><img src="../../assets/img/javascript.png" alt="javascript - armando rubio"></a>
        <a class="carousel-item" href="#four!"><img src="../../assets/img/reactjs.png" alt="reactjs - armando rubio"></a>
        <a class="carousel-item" href="#five!"><img src="../../assets/img/angular.png" alt="angular - armando rubio"></a>
        <a class="carousel-item" href="#six!"><img src="../../assets/img/materialize.png" alt="materialize - armando rubio"></a>
        <a class="carousel-item" href="#seven!"><img src="../../assets/img/bootstrap.png" alt="bootstrap - armando rubio"></a>
        <a class="carousel-item" href="#eight!"><img src="../../assets/img/foundation.png" alt="foundation - armando rubio"></a>
        <a class="carousel-item" href="#nine!"><img src="../../assets/img/hubspot.png" alt="hubspot - armando rubio"></a>
      </div>
  </div>
</div>